<!doctype html>
<html lang="en">
  <head>
    <title>Projects</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
       
 @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');



:root {
--transition: 0.3s ease-in-out;}
       

.logo {
    font-family: "Syne", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #666666;
    text-decoration: none;
    transition: var(--transition);
}


#main-header {
  transition: all 0.3s ease;
}

#main-header.scrolled {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0 5px 20px rgba(0, 0,0, 0.05);
}

.nav-items{
  display: flex;
text-transform: uppercase;
gap: 40px;
list-style: none;

         }

         



        .nav-link {
            color: #666666;
            text-decoration: none;
           font-size: 14px;
            font-family: 'Syne', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
        }




        .nav-link::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #666666;
          transition: 0.3s ease-in-out;
          
          
        }
        .nav-link:hover {
          color: black;
        }

        .nav-link:hover::after {
          width: 100%;
          background-color: black;
        }
    

  
    .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }


    .navbar-toggler-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
    position: relative;
  }
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
  }
  .navbar-toggler-icon::before {
    top: -8px;
  }
  .navbar-toggler-icon::after {
    top: 8px;
  }

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}



.navbar-toggler-icon {
  width: 30px;
  height: 30px;
  transition: 0.3;
}



        

.container{
            width: 90%;
            max-width: 1400px;
            margin: 0 auto;
        }
.projects-header{
  padding: 120px 0 80px;
  background-color: #f2f2f2;
  text-align: center;
}

.page-title{
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}


.page-subtitle{
  font-size: 22px;
  max-width: 700px;
  margin: 0 auto;
}


.Projects-Gallary{
  padding: 80px 0;
}

.filter-controls{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}


.filter-btn{
  font-size: 14px;
  font-weight: 500px;
  border: 1px solid#cccccc;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}
.filter-btn.active{
  background-color: #000000;
  color: #f2f2f2;
  border-color: #000000;
}

.projects-grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
gap: 40px;
}

.animate-on-scroll.in-view {
opacity: 1;
transform: translateY(0);
}

.animate-on-scroll{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}


.project-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .project-card:hover .project-image {
    transform: translateY(0);
    opacity: 0.7;
    transition: all 0.3s ease-in;
  }



  .project-card.in-view {
    opacity: 1;
    transform: translateY(0);
  }

.project-card{
border: 1px solid #f2f2f2;
border-radius: 4px;
overflow: hidden;
opacity: 0;
transform: translateY(50px);
transition: all 0.6s ease-out;
}

.project-image{
  height: 240px;
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  filter: grayscale(100%);
  transform: scale(1.03);
  opacity: 0.7;
}


.project-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-info{
  padding: 25px;
}

.project-title{
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600s;
  font-family: "Syne", sans-serif;

}

.project-category{
  margin-bottom: 15px;
  color: #666666;
  font-size: 14px;
  text-transform: uppercase;
    letter-spacing: 1px;
  
}

.project-description{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #666666;

}


.project-tags{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;

 
}


.tag{
  display: inline-block;
  background-color: #f2f2f2;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
}

.project-link{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

.project-link i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.fa-arrow-right:before {
    content: "\f061";
}

.project-link:hover i {
  transform: translateX(5px);
}


.project-cta{
  padding: 80px 0;
  text-align: center;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.cta-title{
  margin-bottom: 20px;
  font-size: 35px;
  font-family: Syne, sans-serif;
    font-weight: 700;
    line-height: 1.1;

}

.cta-subtitle{
  max-width: 600;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: #666666;
 
  
}




.cta-btn{
display: inline-block;
padding: 14px 30px;
background-color: #000000;
color: #ffffff;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
text-decoration: none;
transition: all 0.3s ease;
}


.cta-btn:hover {
  animation: up-down 0.5s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
    .filter-controls {
        gap: 8px;
    }
}
@media (max-width: 768px) {
    .projects-header {
        padding: 100px 0 60px;
    }

}

@media (max-width: 576px) {
    .page-title {
        font-size: 32px;
    }
}


@media (max-width: 768px) {
    .page-subtitle {
        font-size: 18px;
    }
}


@media (max-width: 576px) {
    .filter-btn {
        padding: 6px 12px;
        font-size: 13px;
    }
}


@media (max-width: 576px) {
    .filter-btn {
        padding: 6px 12px;
        font-size: 13px;
    }
}
.footer {
    background-color: var(--bg-color);
    padding: 50px 0px;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
    color: var(--dark-gray);
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-link {
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}



@media (max-width: 992px) {
  #navbarScroll {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 0.5s ease;
    z-index: 100;
  }

  #navbarScroll.show {
    right: 0;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}


    </style>
  </head>

  <body>
    <header>
      <!-- place navbar here -->
  <header id="main-header" class="py-3 position-sticky top-0 z-3">
                <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="logo" href="#">Tobi Adeosun</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
              aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="nav-items ms-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item"><a class="nav-link" href="/blog.html">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/PERSONAL-PROJECTS.html">Personal Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/Blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/About.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html#contact">Contact</a></li>

              </ul>
            </div>
          </nav>
        </div>
      </header>
 <!-- project header section -->
    <section class="projects-header">
      <div class="container">
        <h2 class="page-title">Client Projects</h2>
        <p class="page-subtitle">
          Explore my professional work developed for clients across various industries
        </p>
      </div>
    </section>

    <!-- project gallary section -->

<section class="Projects-Gallary">
  <div class="container">
    
    <!-- filter-controls setion -->
     <div class="filter-controls">
      <button class="filter-btn" data-filter="all">All</button>
      <button class="filter-btn active" data-filter="web">Web Development</button>
      <button class="filter-btn" data-filter="ui">UI Design</button>
      <button class="filter-btn" data-filter="full stack">Full Stack</button>
     </div>
  <div class="projects-grid">

    <!-- project-1  -->

<div class="project-card animate-on-scroll in-view" data-category="web ui">
<div class="project-image">
  <img src="image/yanna-banner.png" alt="yanna-website" loading="lazy">
</div>

<div class="project-info">
  <h3 class="project-title">Yanna's Website</h3>
  <p class="project-category">Web Development / UI Design</p>
  <p class="project-description">
    A modern property management website featuring elegant design
    and seamless user experience.
  </p>

  <div class="project-tags">
    <span class="tag">HTML/CSS</span>
    <span class="tag">JavaScript</span>
    <span class="tag">WordPress</span>
    <span class="tag">CM</span>
  </div>


  <a href="" target="_blank" rel="noopener" class="project-link">
    View Project 
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
 

</div>


<!-- project-2  -->

<div class="project-card animate-on-scroll in-view" data-category="web">
  <div class="project-image">
    <img src="image/sq-energy.png" alt="Squid Energy's Site" loading="lazy">
  </div>

  <div class="project-info">
    <h3 class="project-title">Squid Energy's Site</h3>
    <p class="project-category">Web Development</p>
    <p class="project-description">
      Energy company website with dynamic content and optimization for
      conversion.
    </p>

    
  <div class="project-tags">
    <span class="tag">HTML/CSS</span>
    <span class="tag">JavaScript</span>
    <span class="tag">WordPress</span>
    <span class="tag">CMS</span>
  </div>

  
  <a href="" target="black" rel="noopener"  class="project-link">
    View Project 
    <i class="fas fa-arrow-right"></i>
  </a>
  </div>
</div>

<!-- project-3 -->

<div class="project-card animate-on-scroll in-view" data-category="web ui">
  <div class="project-image">
<img src="image/fluent-fit.png" loading="lazy" alt="fluent-fit website" >
  </div>
  <div class="project-info">
    <h3 class="project-title">Fluent Fit</h3>
    <p class="project-category">Web Development</p>
    <p class="project-description">
      Fitness tracking application with personalized workout plans and
      progress metrics.
    </p>

    
  <div class="project-tags">
    <span class="tag">React</span>
    <span class="tag">Node.js</span>
    <span class="tag">MongoDB</span>
  </div>
  <a href="" target="_blank" rel="noopener" class="project-link">
    View Project 
    <i class="fas fa-arrow-right"></i>
  </a>
  </div>
</div>


<div class="project-card animate-on-scroll in-view" data-category="fullstack">
  <div class="project-image">
    <img src="image/hotelier.png" alt="hotelier" loading="lazy">
  </div>

  <div class="project-info">
    <h3 class="project-title">Hotel Management Software</h3>
    <p class="project-category">Full Stack Development</p>
    <p class="project-description"> Comprehensive hotel management system with reservation handling,
      guest management, and analytics.</p>

      <div class="project-tags">
        <span class="tag">JavaScript</span>
        <span class="tag">React</span>
        <span class="tag">Node.js</span>
        <span class="tag">Express</span>
      </div>
      <a
      href=""
      target="_blank"
      rel="noopener"
      class="project-link"
      >
      View Project <i class="fas fa-arrow-right"></i>
      </a>
  </div>

</div>

  </div>
</div>
</section>

<section class="project-cta">
  <div class="container">
    <h2 class="cta-title">Interested in working together?</h2>
    <p class="cta-subtitle">Let's discuss how we can bring your ideas to life    </p>
    <a href="" class="cta-btn">Get in Touch</a>
  </div>
</section>
    <footer>
      <!-- place footer here -->
      <footer class="footer">
        <div class="container footer-content">
          <p class="copyright">© 2025 Tobi Adeosun. All Rights Reserved.</p>
          <div class="social-links">
            <a href="https://www.github.com/tflux2011" class="social-link" target="_blank" rel="noopener">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/tobi-lekan-adeosun" class="social-link" target="_blank" rel="noopener">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/tflux2.0/" class="social-link" target="_blank" rel="noopener">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </footer>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->

    
    <script>

      window.addEventListener('scroll', () => {
        const nav = document.querySelector('.nav');
        if (window.scrollY > 0) {
          nav.classList.add('nav-scrolled');
        } else {
          nav.classList.remove('nav-scrolled');
        }
      });



      
const filterButtons = document.querySelectorAll('.filter-btn');
const projectCards = document.querySelectorAll('.project-card');

filterButtons.forEach(button => {
  button.addEventListener('click', () => {
    const filterValue = button.getAttribute('data-filter').toLowerCase();

    projectCards.forEach(card => {
      const categories = card.getAttribute('data-category').toLowerCase().split(' ');

      if (filterValue === 'all' || categories.includes(filterValue)) {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });

    // Remove active class from all buttons
    filterButtons.forEach(btn => btn.classList.remove('active'));
    // Add active class to the current button
    button.classList.add('active');
  });
});


      
          </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
